/*
 * declarion of rem-value in _html-body.scss
 * html { font-size: 16px; }
 *
 * the minimal grid unit is 4px, that equals .25rem
 * the typographical rhythm is 28px (1.75rem)
 */

:root {
    /* font families */
    --font-sans: 'Merriweather Sans', Arial, sans-serif;
    // --font-sans: Georgia, Times, serif;
    --font-serif: Georgia, serif;
    --font-mono: 'Consolas', Courier, monospace;
    /* font size */
    --font-size-xxs: 0.6rem; // ...
    --font-size-xs: 0.75rem; // ...
    --font-size-small: 0.85rem; // ...
    --font-size-smallcaps: 0.95rem; // smallcaps; nav sub-item
    --font-size-paragraph: 1rem; // p; nav top-items
    --font-size-medium: 1.3rem; // h4
    --font-size-large: 1.5rem; // h3
    --font-size-xl: 1.7rem; // h2 in article
    --font-size-article-head: 2.2rem; // article title in archive mobile
    --font-size-article-head-desktop: 4rem; // article title in archive desktop
    --font-size-title: 2.2rem; // h1 mobile
    --font-size-title-desktop: 4rem; // h1 desktop
    /* line height */
    --line-height-xxs: 1rem;
    --line-height-xs: 1.25rem;
    --line-height-small: 1.5rem;
    --line-height-paragraph: 1.75rem;
    --line-height-large: 2.25rem;
    --line-height-xl: 2.75rem;
    --line-height-double: 3.5rem;
    /* font weight */
    --font-weight-paragraph: 300;
    --font-weight-sub: 400;
    --font-weight-bold: 700;
    /* spacing */
    --letter-spacing-smallcaps: 0.07rem;
}