.main-area {
    padding: 0;
}

main {
    margin: 2rem 2rem 0 2rem;
}

.sticky {
    display: block;
}

.article {
    margin: 0 0 1.5em;
}

.updated:not(.published) {
    display: none;
}

/*
.page-content,
.article-content,
.article-summary {
    margin: 2em 0 0;
}
*/

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}

.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}

/* this rule is too specific to work well
.article-content p,
.article-content ul,
.article-content ol {
    @include paragraph-styling;
}
*/

.article-title {
    margin-bottom: 0;
}

.article-header {
    margin-bottom: 1.75rem;
}

/* meta sections */

.post-categories {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        background-color: var(--eiklinde-paars);
        display: inline;
        margin-right: 0.25rem;
        padding: 0.125rem 0.5rem;
        a {
            text-decoration: none;
            text-transform: uppercase;
            font-size: var(--font-size-xs);
            color: var(--diap-color);
            &:hover {
                opacity: 0.6;
            }
        }
    }
}

.article-post-date {
    font-size: var(--font-size-small);
    color: var(--grey-dark);
    text-transform: lowercase;
}

.article-tags a {
    @include small-button;
    background-color: var(--grey-lightest);
    color: var(--paragraph-color);
    margin-left: 0.5rem;
    &:hover {
        background-color: var(--grey-light);
        color: var(--diap-color);
    }
}
