.wp-block-columns {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    ;
}

@media (min-width: 782px) {
    .wp-block-columns {
        flex-wrap: nowrap;
    }
}

.wp-block-columns.has-background {
    padding: 20px 30px;
}

.wp-block-column {
    flex-grow: 1;
    min-width: 0;
    word-break: break-word;
    overflow-wrap: break-word;
}


/*
$mq-small: 450px;
$mq-medium: 800px;

@media (max-width: 599px) {
    .wp-block-column {
        flex-basis: 100% !important;
    }
}

@media (min-width: 600px) and (max-width: 781px) {
    .wp-block-column {
        flex-basis: calc(50% - 16px) !important;
        flex-grow: 0;
    }
    .wp-block-column:nth-child(even) {
        margin-left: 32px;
    }
}

@media (min-width: 782px) {
    .wp-block-column {
        flex-basis: 0;
        flex-grow: 1;
    }
    .wp-block-column[style] {
        flex-grow: 0;
    }
    .wp-block-column:not(:first-child) {
        margin-left: 32px;
    }
}
*/

@media (max-width: $mq-small) {
    .wp-block-column {
        flex-basis: 100% !important;
    }
}

@media (min-width: $mq-small) and (max-width: $mq-medium) {
    .wp-block-column {
        flex-basis: calc(50% - 16px) !important;
        flex-grow: 0;
    }
    .wp-block-column:nth-child(even) {
        margin-left: 32px;
    }
}

@media (min-width: $mq-small) {
    .wp-block-column {
        flex-basis: 0;
        flex-grow: 1;
    }
    .wp-block-column[style] {
        flex-grow: 0;
    }
    .wp-block-column:not(:first-child) {
        margin-left: 32px;
    }
}


/**
   * All Columns Alignment
   */

.wp-block-columns.are-vertically-aligned-top {
    align-items: flex-start;
}

.wp-block-columns.are-vertically-aligned-center {
    align-items: center;
}

.wp-block-columns.are-vertically-aligned-bottom {
    align-items: flex-end;
}


/**
   * Individual Column Alignment
   */

.wp-block-column.is-vertically-aligned-top {
    align-self: flex-start;
}

.wp-block-column.is-vertically-aligned-center {
    -ms-grid-row-align: center;
    align-self: center;
}

.wp-block-column.is-vertically-aligned-bottom {
    align-self: flex-end;
}

.wp-block-column.is-vertically-aligned-top,
.wp-block-column.is-vertically-aligned-center,
.wp-block-column.is-vertically-aligned-bottom {
    width: 100%;
}