cite {
    color: var(--paragraph-color);
}

blockquote {
    border-left: 0.25rem solid var(--eiklinde-paars);
    font-style: italic;
    margin: 1.75rem 0;
    padding: 1.75rem 0 1.75rem 1rem;
    p {
        font-size: 150%;
    }
    p:last-of-type {
        margin-bottom: 0;
    }
    cite {
        display: block;
    }
}